/* font-family: 'Bungee', cursive;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  /* overflow: hidden; */
  height: 100%;
}

main {
  width: 60%;
  min-height: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C669EF;
}

h1 {
  font-family: 'Bungee', cursive;
  font-size: 56px;
  color: white;
  margin: 20px 0 0 0;
}

h3 {
  margin: 40px 20px 20px 10px;
  font-size: 50px;
}

h4 {
  font-family: 'Bungee', cursive;
  color: #AB49DA;
  font-size: 36px;
}

h5 {
  color: white;
  font-size: 26px;
  margin-top: 30px;
}

h6 {
  font-size: 50px;
}

span {
  padding: 0 10px 0 10px;
}

.header {
  height: 24%;
}

.game-area {
  height: 66%;
}

.button-div {
  height: 10%;
  display: flex;
  align-items: flex-start;
}

.game-type {
  height: 76%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  left:38%;
  top: 80%;

}

.game-button-title {
  margin: 10px;
  font-size: 24px;
  color: white;
}

.game-button {
  padding: 10px;
  width: 300px;
  background-color: #AB49DA;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}

.classic {
  margin: 8px 0 40px 0;
}

.game-button:hover {
  background-color: #8039A3 ;
}

.rules {
  color: white;
  font-size: 18px;
}

.change-game-button,
.reset-score-button {
  font-family: 'Bungee', cursive;
  font-size: 25px;
  margin: 10px 20px 0 20px;
  padding: 5px;
  cursor: pointer;
  background-color: white;
  color: #CD82F0;
  border-style: none;
  border-radius: 10px;
  width: 250px;
  height: 40px;
}
.change-game-button:hover,
.reset-score-button:hover {
  opacity: 0.7;
}

.side-section {
  width: 20%;
  height: 100%;
  background-color: #CD82F0;
  font-weight: 50px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.game-area {
  justify-content: center;
}

.image {
  height: 175px;
  width: 175px;
  margin: 20px;
  cursor: pointer;
}

.image-rules {
  height: 35px;
  width: 35px;
  margin: 0 5px 0 5px;

}

.single-rule {
  display: flex;
  align-items: center;
  margin: 5px;
}

.description {
  font-size: 22px;
  color: white;
  margin-top: 20px;
  text-align: center;
  width: 60%;
  padding: 5px;
  background-color: #CD82F0;
  border: 5px solid #AB49DA;
  border-radius: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hidden-view {
  visibility: hidden;
}

.hidden-space {
  display: none;
}

.border {
  border: yellow dashed;
}

.no-click {
  pointer-events: none;
}
