/* font-family: 'Bungee', cursive;
font-family: 'Roboto', sans-serif;
very-dark-purple: #8039A3
dark-purple: #AB49DA
medium-purple: #C669EF
light-purpl: #CD82F0
*/

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  height: 100%;
}

main {
  width: 60%;
  min-height: 99%;
  background-color: #C669EF;
}

h1 {
  font-size: 56px;
  color: white;
  margin: 20px 0 0 0;
}

h3 {
  margin: 40px 20px 20px 10px;
  font-size: 50px;
}

h4 {
  color: #AB49DA;
  font-size: 36px;
}

h5 {
  color: white;
  font-size: 26px;
  margin-top: 30px;
}

h6 {
  font-size: 50px;
  position: absolute;
  left:38%;
  top: 80%;
}

span {
  padding: 0 10px 0 10px;
}

.bungee-font {
  font-family: 'Bungee', cursive;
}

.header {
  height: 24%;
  width: 100%;
}

.game-area {
  height: 66%;
  width: 100%;
}

.buttons-container {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.game-type-view {
  height: 76%;
  width: 100%;
}

.side-section {
  width: 20%;
  height: 100%;
  background-color: #CD82F0;
  font-weight: 50px;
}

.position-relative {
  position: relative;
}

.game-button-title {
  margin: 10px;
  font-size: 24px;
  color: white;
}

.classic {
  margin: 8px 0 40px 0;
}
.rules {
  color: white;
  font-size: 18px;
}

.game-button {
  padding: 10px;
  width: 300px;
  background-color: #AB49DA;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.game-button:hover {
  background-color: #8039A3;
  transform: translate(-10px, -10px);
}

.change-game-button,
.reset-score-button {
  font-size: 25px;
  margin: 10px 20px 0 20px;
  padding: 5px;
  cursor: pointer;
  background-color: white;
  color: #CD82F0;
  border-style: none;
  border-radius: 10px;
  width: 250px;
  height: 40px;
}

.change-game-button:hover,
.reset-score-button:hover {
  opacity: 0.7;
}

.disable-button {
  pointer-events: none;
  opacity: 0.4;
}

.image {
  height: 175px;
  width: 175px;
  margin: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.image:hover {
  transform: translate(-10px, -10px);
}

.image-rules {
  height: 35px;
  width: 35px;
  margin: 0 5px 0 5px;

}

.single-rule {
  display: flex;
  align-items: center;
  margin: 5px;
}

.description {
  font-size: 22px;
  color: white;
  margin-top: 20px;
  text-align: center;
  width: 60%;
  padding: 5px;
  background-color: #CD82F0;
  border: 5px solid #AB49DA;
  border-radius: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hidden-view {
  visibility: hidden;
}

.hidden-space {
  display: none;
}

.border {
  border: yellow dashed;
}

.no-click {
  pointer-events: none;
}
